# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = naver_scrap.settings
naver_scrap = naver_scrap.settings
version = 1.3.0

[deploy:local]
url = http://127.0.0.1:6800/
project = naver_scrap

[deploy:bot1]
url = http://172.31.58.230:6800/
project = naver_scrap

[deploy:bot2]
url = http://172.31.59.1:6800/
project = naver_scrap

[deploy:bot3]
url = http://172.31.55.199:6800/
project = naver_scrap

[deploy:bot4]
url = http://172.31.51.106:6800/
project = naver_scrap

[deploy:bot5]
url = http://172.31.49.241:6800/
project = naver_scrap
