attrs==19.3.0
Automat==20.2.0
bcrypt==3.1.7
boto3==1.14.2
botocore==1.17.2
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
docutils==0.15.2
ec2-metadata==2.2.0
fake-useragent==0.1.11
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
jmespath==0.10.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1589927514031/work
numpy==1.18.5
pandas==1.0.5
parsel==1.5.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pythena==1.5.0
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
queuelib==1.5.0
requests==2.23.0
retrying==1.3.3
s3transfer==0.3.3
Scrapy @ file:///home/conda/feedstock_root/build_artifacts/scrapy_1590508443082/work
scrapyd==1.2.1
scrapyd-client==1.2.0a1
selenium==3.141.0
selenium-wire==1.2.2
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
Twisted==22.10.0
urllib3==1.25.9
w3lib==1.20.0
zope.interface==5.1.0
