# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = default_settings
naver_scrap = naver_scrap.settings
lightweight_scrap = lightweight_scrap.settings

[deploy:bot]
url = http://127.0.0.1:6800/